<p>delete works!</p>
<section class="main_section">
    <section class="form_section">
        <h1 class="section_heading">Profile Delete Page</h1>
        <form class="form_flex">
            <h2 class="section_heading_h2">Are you sure you want to Delete your Profile</h2>
            <div class="form_buttons_div">
                <button class="a_button_inside" (click)="deleteUser($event)">YES</button>
                <a class="a_button_inside" routerLink="/viewProfile">NO</a>
            </div>
        </form>
    </section>
</section>