<section class="main_section">
    <section class="form_section">
        <h1 class="section_heading">Airport Delete Page</h1>
        <form class="form_flex">
            <h3 class="section_heading_h3">Are you sure you want to delete the Current Airport!</h3>
            <h3 class="section_heading_h3">This will delete all associated Routes</h3>
            <div class="form_buttons_div">
                <button class="a_button_inside" (click)="deleteCurrentAirport(currentAirport.id)">Delete</button>
                <a class="a_button_inside" routerLink="/operations">Back</a>
            </div>
        </form>
    </section>
</section>