<section class="main_section">
    <section class="form_section">
        <h1 class="section_heading">Registration Page</h1>
        <form class="form_flex" [formGroup]="regForm" (ngSubmit)="register()">
            <!-- Username Field -->
            <label for="username">Username:</label>
            <input 
                type="text"
                name="username"
                id="username"
                placeholder="Username..."
                formControlName="username"
            />
            <ng-container *ngIf="regForm.get('username')?.touched">
                <p style="color: red;" *ngIf="regForm.get('username')?.errors?.['required']">Username is required!</p>
                <p style="color: red;" *ngIf="regForm.get('username')?.errors?.['minlength']">Username must be at least 2 characters!</p>
              </ng-container>
            <!-- Email Field -->
            <label for="email">Email:</label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Email adress..."
                formControlName="email"
            />
            <ng-container *ngIf="regForm.get('email')?.touched">
                <p style="color: red;" *ngIf="regForm.get('email')?.errors?.['required']">Email is required!</p>
                <p style="color: red;" *ngIf="regForm.get('email')?.errors?.['email']">Email is not valid!</p>
            </ng-container>
            <!-- First Name Field -->
            <label for="firstName">First Name:</label>
            <input 
                type="text"
                name="firstName"
                id="firstName"
                placeholder="First Name..."
                formControlName="firstName"
            />
            <ng-container *ngIf="regForm.get('firstName')?.touched">
                <p style="color: red;" *ngIf="regForm.get('firstName')?.errors?.['required']">First Name is required!</p>
                <p style="color: red;" *ngIf="regForm.get('firstName')?.errors?.['minlength']">FirstName must be at least 2 characters!</p>
            </ng-container>
            <!-- Last Name Field -->
            <label for="lastName">Last Name:</label>
            <input 
                type="text"
                name="lastName"
                id="lastName"
                placeholder="Last Name..."
                formControlName="lastName"
            />
            <ng-container *ngIf="regForm.get('lastName')?.touched">
                <p style="color: red;" *ngIf="regForm.get('lastName')?.errors?.['required']">Last Name is required!</p>
                <p style="color: red;" *ngIf="regForm.get('lastName')?.errors?.['minlength']">Last must be at least 2 characters!</p>
            </ng-container>
            <!-- Password Group Fields -->
            <ng-container formGroupName="passGroup">
                <!-- Password 1 -->
                <label for="password1">New Password:</label>
                <input
                    type="password"
                    name="password1"
                    id="password1"
                    placeholder="*******"
                    formControlName="password1"
                />
                <!-- Password 2 -->
                <label for="password2">Repeat Password:</label>
                <input
                    type="password"
                    name="password2"
                    id="password2"
                    placeholder="*******"
                    formControlName="password2"
                />
                 <ng-container *ngIf="passGroup?.get('password2')?.touched">
                    <p 
                    style="color: red;" 
                    *ngIf="passGroup?.errors?.['matchPassVal'] || passGroup?.get('password2')?.errors?.['required']"
                    >Passwords must be the same!</p>
                </ng-container>
            </ng-container>

            <div class="form_buttons_div">
                <button class="a_button_inside" [disabled]="regForm.invalid">Register</button>
                <a class="a_button_inside" routerLink="/home">Back</a>
            </div>
        </form>
    </section>
</section>